<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataCacheDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TingShuo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>205F108819E1C675006F6259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205F109C19E1C675006F6259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205F10AE19E1C6EE006F6259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205F10C219E1C6EE006F6259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>207A7866194DCC1B00C08579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>207A7887194DCC1C00C08579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
